<h4>Manual Registration</h4>
<form>
	<div class="control-group">
		<label for="manual-reg-participant-id">Participant ID</label>
		<div class="alert-container"></div>
		<div class="controls">
			<div class="input-append">
				<input type="text" id="manual-reg-participant-id" class="input-small participant-id" />
				<button class="btn listen-participant-id" type="button">Listen</button>
			</div>
			<span class="help-block">Click "Listen" to receive the ID from the Participant Server.</span>
		</div>
	</div>
	<div class="control-group">
		<label for="manual-reg-alias">Alias</label>
		<div class="controls">
			<input type="text" id="manual-reg-alias" class="input-small alias" />
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn register-submit">Register</button>
		</div>
	</div>
</form>